{
  "extends": "react-static/.babelrc",
  "plugins": [
    "react-hot-loader/babel",
    [
      "babel-plugin-emotion",
      {
        "autoLabel": true
      }
    ],
    "babel-plugin-tailwind"
  ]
}
